*.uvoptx
*uvgui*
archive.zip

sources/Loader/*.scvd
sources/Loader/*.bin
sources/Device/*.bin

sources/generated
sources/Device/Objects7735
sources/Device/Objects-Debug7735
sources/Device/Listings7735
sources/Device/Listings-Debug7735
sources/Device/Objects7789
sources/Device/Objects-Debug7789
sources/Device/Listings7789
sources/Device/Listings-Debug7789

sources/Loader/DebugConfig
sources/Loader/Objects
sources/Loader/Objects-Debug
sources/Loader/Listings
sources/Loader/Listings-Debug
